body {
    background-color: #394053;
    color: #EEF0F2;
    margin: 1em;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
}

.page-container {
    max-width: 750px;
}

h2 {
    margin: 0.3em
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Banner Items */

.banner {
    
}

.headshot {
    border: solid #EEC643 0.2em;
    border-radius: 50%;
    max-width: 60%;
    max-height: 80vh;
}

.banner > h1 {
    margin: 0.5em;
}

.banner > h3 {
    margin: 0;
}

/* Projects */
.projects-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.projects-header > h3 {
    margin: 0.2em;
}



.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.project > h4 {
    margin: 0.5em;
}

.tech-stack {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.tech-stack > img {
    width: 1.5em;
    margin: 0;
}

.site-preview {
    width: 20%;
}

.links {
    display: flex;
    align-items: center;
    gap: 1em
}

.links > a {
    width: 1em;
}

.site-link, .code-link {
    width: 100%;
    filter: invert(94%) sepia(41%) saturate(997%) hue-rotate(178deg) brightness(114%) contrast(105%);
}

.site-link:hover, .code-link:hover {
    filter: invert(78%) sepia(93%) saturate(782%) hue-rotate(327deg) brightness(107%) contrast(87%)
}
