/* Temp from rails */


body {
  background-color: #394053;
  color: #EEF0F2;
  margin: 1em;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
}

.page-container {
  max-width: 750px;
}

h2 {
  margin: 0.6em
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Banner Items */

.banner {
  display: flex;
  flex-direction: column;
}

.max-banner {
  min-height: 100vh;
}



.headshot {
  border: solid #ffc600 0.2em;
  border-radius: 50%;
  max-width: 70%;
  max-height: 80vh;
}

.banner>h1 {
  margin: 0.5em;
}



/* Menu */

.menu {
  display: flex;
  width: 550px;
  align-items: center;
}

.tab {
  border: solid 2px #EEF0F2;
  padding: 0.5rem;
  flex: 1;
  text-align: center;
  border-left: none;
}

.tab:hover {
  color: #ffc600;
}

.first-tab {
  border-left: solid 2px #EEF0F2;
  ;
}

.selected-tab {
  color: #ffc600;
}

/* Menu Mobile */

.menu-mobile {
  border: solid 2px #EEF0F2;
  padding: 0.5rem;
  text-align: center;
  width: 30%;
}

.menu-mobile:hover {
  border-color: #ffc600;
  color: #ffc600;
}

.menu-mobile>* {
  display: none;
}

.visible-mobile-menu {
  box-sizing: border-box;
  position: absolute;
  font-size: 3rem;
  background-color: #394053;
  border: none;
  height: 100vh;
  top: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.visible-mobile-menu:hover {
  color: #EEF0F2;
}

.visible-mobile-tab {
  color: #EEF0F2;
  display: block;
  width: 90%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .menu-mobile {
    display: none;
  }
}

/* Projects */
.projects-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
}

.projects-header>h3 {
  margin: 0.2em;
}

.project-selector {
  margin: 0px;
  display: flex;
  gap: 1rem;
  padding: 0px;
}

.select-number {
  border: solid 2px #EEF0F2;
  border-radius: 50%;
  text-align: center;
  width: 1.5vh;
  aspect-ratio: 1/1;
  padding: 0.6rem;
  font-weight: bold;
}

.select-number:hover {
  color: #ffc600;
  border-color: #ffc600;
}

.selected-project {
  color: #ffc600;
  border-color: #ffc600;
}


.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  gap: 0.5rem;
}

.project-title {
  text-decoration: none;
  color: #EEF0F2;
  margin: 0px;
}

.project-title:hover {
  color: #ffc600;
}

.project>h4 {
  margin: 0px;
}

.tech-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tech-stack>img {
  width: 1.5em;
  margin: 0;
}

.site-preview {
  width: 100%;
  margin: 1rem;
  border: solid 1px #EEF0F2;
}

.italics {
  font-style: italic;
}

.links {
  display: flex;
  align-items: center;
  gap: 1em
}

.links>a {
  width: 1em;
  font-size: 1.5rem;
}

.site-link,
.code-link {
  width: 100%;
  filter: invert(94%) sepia(41%) saturate(997%) hue-rotate(178deg) brightness(114%) contrast(105%);
}

.site-link:hover,
.code-link:hover {
  filter: invert(78%) sepia(93%) saturate(782%) hue-rotate(327deg) brightness(107%) contrast(87%)
}

/* Certifications */
.certifications {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certification-icons {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.certification-icons>a {
  width: 20%;
}

.certification-icon {
  width: 100%;
}

/* Contact */
.contact-details>* {
  text-decoration: none;
  color: #EEF0F2;
  text-align: end;
}

.contact-details>*:hover {
  color: #ffc600;
}

/* About */
.icon {
  max-width: 15%;
  height: auto;
  filter: brightness(0) saturate(100%) invert(75%) sepia(72%) saturate(2218%) hue-rotate(2deg) brightness(104%) contrast(110%);
}

/* Utility Classes */

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.text-center {
  text-align: center;
}