body {
  background-color: #394053;
  color: #EEF0F2;
  margin: 1em;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
}

.page-container {
  max-width: 750px;
}

h2 {
  margin: 0.3em
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Banner Items */

.banner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



.headshot {
  border: solid #EEC643 0.2em;
  border-radius: 50%;
  max-width: 70%;
  max-height: 80vh;
}

.banner>h1 {
  margin: 0.5em;
}



/* Menu */

.menu {
  display: flex;
  width: 80%;
  align-items: center;
}

.tab {
  border: solid 2px white;
  padding: 0.5rem;
  flex: 1;
  text-align: center;
  border-left: none;
}

.tab:hover {
  color: #EEC643;
}

.first-tab {
  border-left: solid 2px white;
  ;
}

/* Projects */
.projects-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.projects-header>h3 {
  margin: 0.2em;
}



.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.project>h4 {
  margin: 0.5em;
}

.tech-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tech-stack>img {
  width: 1.5em;
  margin: 0;
}

.site-preview {
  width: 100%;
  margin: 1rem;
}

.italics {
  font-style: italic;
}

.links {
  display: flex;
  align-items: center;
  gap: 1em
}

.links>a {
  width: 1em;
  font-size: 1.5rem;
}

.site-link,
.code-link {
  width: 100%;
  filter: invert(94%) sepia(41%) saturate(997%) hue-rotate(178deg) brightness(114%) contrast(105%);
}

.site-link:hover,
.code-link:hover {
  filter: invert(78%) sepia(93%) saturate(782%) hue-rotate(327deg) brightness(107%) contrast(87%)
}